.content
    .welcoming
        div
            span CHAT ANONYMOUSLY
            h3= welcome
            a.button(href="#") New channel
        div.illustration
            img(src="./illustration.png", alt="", srcset="")