.chat
    .messages
        .message.system
            p #  Channel askd32424ntıw created
        .message.system
            p # yzhe joined
        .message.system
            p # yzhe joined
        .message
            h4.code sdsa 
                span.time 13.13
            p Hey there! when i create a datamodel with relations (for ex: Author has id, name and Article has id, title, content, author_id: Author), they are not created as foreign keys in the underlying MySQL database. It creates a new mapping table. Is this a known issue/workflow or am i missing something?
        .message
            h4.code ksds
                span.time 13.13
            p ok, let me help you
    form(action="", method="post")
        .input
            input(placeholder="Type your message here" type= "text")
